<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="assets/styles.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet1" type="text/css" href="/pages/somefile.ejs">

  <style type="text/css">
    .c1-ui-state-hover {
      background-color: yellow !important;
      padding: 5px !important
    }
  </style>
</head>

<body class="dashboardBody">
  <%- include('partials/nav.ejs') %>
  <div class="profileContainer">

    <h1 class="profileText">Profile Page</h1>
    <p><strong>Site:</strong> <%= discordinfo.tool %></p>
    <p><strong>Key:</strong> <%= info.key %></p>
    <p><strong>Email:</strong> <%= info.email %></p>
    <p><strong>Discord Username:</strong> <%= discordinfo.name %></p>
    <p><strong>Discord ID:</strong> <%= discordinfo.id %></p>
    <p><strong>Discord Activated:</strong> <%= discordinfo.discordactivated %></p>
    <p><strong>Activated on a Machine:</strong> <%= discordinfo.activated %></p>

    <form id="reset-form" method="POST" action="/resetMachine">
      <input type="hidden" for="tool" name="tool" value="<%= discordinfo.tool %>">
      <input type="hidden" for="key" name="key" value="<%= info.key %>" class="input" />
      <input type="hidden" for="email" name="email" value="<%= info.email %>" class="input" />
      <a href="javascript:{}" class="submitButton" onclick="document.getElementById('reset-form').submit();">Reset
        Key</a>
    </form>

    <br>
    <a class="discordSeverText" href="https://discord.gg/mQVApvv" target="_blank">Discord Server</a>
  </div>
</body>

</html>