<html>

<head>
  <title>Purchase Now</title>
  <link rel="stylesheet" href="assets/styles.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet1" type="text/css" href="/pages/somefile.ejs">
  <script src="https://js.stripe.com/v3/"></script>


  <style type="text/css">
    .c1-ui-state-hover {
      background-color: yellow !important;
      padding: 5px !important
    }

    .square1 {
      font-size: 1vw;
      text-align: center;
      position: absolute;
      width: 30%;
      height: 30%;
      left: 8.5%;
      top: 17%;
      /* width: 418px;
    height: 231px;
    left: 85px;
    top: 101px; */
    }

    .titleApp {
      font-size: 2vw;
    }

    .square3 {
      font-size: 1vw;
      text-align: center;
      position: absolute;
      /* width: 418px;
    height: 231px; */
      width: 30%;
      height: 30%;
      /* left: 85px;
    top: 357px; */
      left: 8.5%;
      top: 55%;
    }

    .square2 {
      font-size: 1vw;
      text-align: center;
      position: absolute;
      /* width: 418px;
    height: 231px; */
      width: 30%;
      height: 30%;
      left: 65%;
      top: 17%;
      /* left: 1000px;
    top: 101px; */
    }

    .square4 {
      font-size: 1vw;
      text-align: center;
      position: absolute;
      /* width: 418px;
    height: 231px; */
      width: 30%;
      height: 30%;
      left: 65%;
      top: 55%;
      /* left: 1000px;
    top: 357px; */
    }

    .square5 {
      font-size: 1vw;
      text-align: center;
      position: absolute;
      /* width: 418px;
    height: 231px; */
      width: 30%;
      height: 40%;
      left: 65%;
      top: 90%;
      /* left: 1000px;
    top: 357px; */
    }

    .square6 {
      font-size: 1vw;
      text-align: center;
      position: absolute;
      /* width: 418px;
    height: 231px; */
      width: 30%;
      height: 30%;
      /* left: 85px;
    top: 357px; */
      left: 8.5%;
      top: 90%;
    }

    .buyButtons {
      font-size: 2vw;
    }

    .titleApp {
      font-size: 2vw;
    }

    .priceApp {
      font-size: 1.5vw;
    }
    div.fixed {
      background-color: #212529;
      font-size: 1.5vw;
      text-align: center;
      color: white;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 25%;
      border: 5px solid #0059ff;
    }
  </style>
</head>

<body class="dashboardBody">
  <%- include('partials/nav.ejs') %>
  <!-- <h3 class="whiteTextOverride">Buy Rehaanm03 Tools</h3>
  <p class='pError'><%= info.error %></p> -->
  <br>
  <section>
    <div class="square6">
      <div class="description">
        <h3 class="whiteTextOverride titleApp">Rehaanm03 BestBuy Bot</h3>
        <h5 class="whiteTextOverride priceApp"><%= stock.bestbuyBot.price %></h5>
      </div>
      <br>
      <button id="bestbuy-checkout-button" class="buyButtons"><%= stock.bestbuyBot.buttonStatus %></button>
    </div>
  </section>
  <br>
  <br>
  <section>
    <div class="square2">
      <div class="description">
        <h3 class="whiteTextOverride titleApp">Target Account Gen HardEmail</h3>
        <h5 class="whiteTextOverride priceApp"><%= stock.targetAccountGenHardEmail.price %></h5>
      </div>
      <br>
      <button id="target-account-gen-hardemail-checkout-button" class="buyButtons"><%= stock.targetAccountGenHardEmail.buttonStatus %></button>
    </div>
  </section>
  <br>
  <br>
  <section>
    <div class="square5">
      <div class="description">
        <h3 class="whiteTextOverride titleApp">Undefeated Account Gen</h3>
        <h5 class="whiteTextOverride priceApp"><%= stock.undefeatedAccountGen.price %></h5>
      </div>
      <br>
      <button id="undefeated-checkout-button" class="buyButtons"><%= stock.undefeatedAccountGen.buttonStatus %></button>
    </div>
  </section>
  <br>
  <br>
  <section>
    <div class="square1">
      <div class="description">
        <h3 class="whiteTextOverride titleApp">Target Account Gen Catchall</h3>
        <h5 class="whiteTextOverride priceApp"><%= stock.targetAccountGenCatchall.price %></h5>
      </div>
      <br>
      <button id="target-account-gen-catchall-checkout-button" class="buyButtons"><%= stock.targetAccountGenCatchall.buttonStatus %></button>
    </div>
  </section>
  <br>
  <br>
  <section>
    <div class="square3">
      <div class="description">
        <h3 class="whiteTextOverride titleApp">Bestbuy Catchall Account Gen</h3>
        <h5 class="whiteTextOverride priceApp"><%= stock.bestbuyCatchallGen.price %></h5>
      </div>
      <br>
      <button id="bestbuy-account-gen-catchall-checkout-button" class="buyButtons"><%= stock.bestbuyCatchallGen.buttonStatus %></button>
    </div>
  </section>
  <br>
  <br>
  <section>
    <div class="square4">
      <div class="description">
        <h3 class="whiteTextOverride titleApp">Bestbuy Hardemail Account Gen</h3>
        <h5 class="whiteTextOverride priceApp"><%= stock.bestbuyHardEmailGen.price %></h5>
      </div>
      <br>
      <button id="bestbuy-account-gen-hardemail-checkout-button" class="buyButtons"><%= stock.bestbuyHardEmailGen.buttonStatus %></button>
    </div>
  </section>
  <br>
  <div class="fixed">
    Scroll Down For More Tools
  </div>
</body>
<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  // var stripe = Stripe("pk_test_jHiIrnXfjyQFJDgC38bsZND000QsuJEpL5");
  var stripe = Stripe("pk_live_hhQumi3YhAsniO3nttWoMQ1y00fmPIue5I");
  var targetHardEmailcheckoutButton = document.getElementById("target-account-gen-hardemail-checkout-button");
  var targetCatchallcheckoutButton = document.getElementById("target-account-gen-catchall-checkout-button");
  var undefeatedcheckoutButton = document.getElementById("undefeated-checkout-button");
  var bestbuyBotcheckoutButton = document.getElementById("bestbuy-checkout-button");
  var bestbuyCatchallCheckoutButton = document.getElementById("bestbuy-account-gen-catchall-checkout-button");
  var bestbuyHardemailCheckoutButton = document.getElementById("bestbuy-account-gen-hardemail-checkout-button");

  if (targetHardEmailcheckoutButton.innerText == "Checkout") {

    targetHardEmailcheckoutButton.addEventListener("click", function () {
      fetch("/buyTargetAccountGenHardEmail", {
          method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({
            sessionId: session.id
          });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  } else {
    targetHardEmailcheckoutButton.addEventListener("click", function () {
      alert("Target Account Gen HardEmail Is Out of Stock")
    });
  }
  if (targetCatchallcheckoutButton.innerText == "Checkout") {
    targetCatchallcheckoutButton.addEventListener("click", function () {
      fetch("/buyTargetAccountGenCatchall", {
          method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({
            sessionId: session.id
          });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  } else {
    targetCatchallcheckoutButton.addEventListener("click", function () {
      alert("Target Account Gen Catchall is Out of Stock")
    })
  }
  if (bestbuyBotcheckoutButton.innerText == "Checkout") {
    bestbuyBotcheckoutButton.addEventListener("click", function () {
      fetch("/buyBestBuyBot", {
          method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({
            sessionId: session.id
          });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  } else {
    bestbuyBotcheckoutButton.addEventListener("click", function () {
      alert("Bestbuy Bot is Out of Stock")
    })
  }
  if (undefeatedcheckoutButton.innerText == "Checkout") {

    undefeatedcheckoutButton.addEventListener("click", function () {
      fetch("/buyUndefeatedAccountGen", {
          method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({
            sessionId: session.id
          });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  } else {
    undefeatedcheckoutButton.addEventListener("click", function () {
      alert("Undefeated Account Gen Is Out of Stock")
    })
  }
  if (bestbuyCatchallCheckoutButton.innerText == "Checkout") {
    bestbuyCatchallCheckoutButton.addEventListener("click", function () {
      fetch("/buyBestbuyAccountGenCatchall", {
          method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({
            sessionId: session.id
          });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  } else {
    bestbuyCatchallCheckoutButton.addEventListener("click", function () {
      alert("Bestbuy Catchall Account Gen Is Out of Stock")
    })
  }

  if (bestbuyCatchallCheckoutButton.innerText == "Checkout") {
    bestbuyCatchallCheckoutButton.addEventListener("click", function () {
      fetch("/buyBestbuyAccountGenCatchall", {
          method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({
            sessionId: session.id
          });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  } else {
    bestbuyCatchallCheckoutButton.addEventListener("click", function () {
      alert("Bestbuy Catchall Account Gen Is Out of Stock")
    })
  }
  if (bestbuyHardemailCheckoutButton.innerText == "Checkout") {
    bestbuyHardemailCheckoutButton.addEventListener("click", function () {
      fetch("/buyBestbuyAccountGenCatchall", {
          method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({
            sessionId: session.id
          });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  } else {
    bestbuyHardemailCheckoutButton.addEventListener("click", function () {
      alert("Bestbuy HArdemail Account Gen Is Out of Stock")
    })
  }
</script>

</html>
